<div class="container post-border">
    <div style="border-bottom: solid 1px black;">
        <%= gravatar_for(post.user_id)%>
        <%= get_username(post.user_id)%>
    </div>
    <div>
        <%= "#{post.post}" %>
    </div>
</div>
